@media only screen and (max-width: 1024px) {
  .menu-sidebar {
    display: none;
  }
  .container {
    grid-template-columns: 100%;
  }
  .this::-webkit-scrollbar {
    display: none !important;
  }
}
@media only screen and (max-width: 600px) {
  .body-content2 {
    display: grid;
    gap: 0px;
    grid-template-columns: 100%;
  }
  .MailDetails {
    padding-top: 20px;
  }
  .card {
    margin-top: 20px;
  }
}

.scroll::-webkit-scrollbar {
  display: none !important;
}
