@media only screen and (max-width: 1024px) {
  .menu-sidebar {
    display: none;
  }
  .container {
    grid-template-columns: 100%;
  }
  .tab::-webkit-scrollbar {
    display: none !important;
  }
}
@media only screen and (min-width: 1600px ) and (max-width: 2600px){
  .container {
    grid-template-columns: 18% 80%;
  }
  .wrapper {
    width: 1600px;
  }
  .tableD {
    max-width: 1250px;
  }
  .body-content {
    width: 1250px;
  }
}
@media only screen and (max-width: 600px) {
  .body-content2 {
    display: grid;
    gap: 0px;
    grid-template-columns: 100%;
  }
  .MailDetails {
    padding-top: 20px;
  }
  .mail-details{
    width: 100%;
  }
  .card {
    margin-top: 20px;
    width: 100%;
  }
  .mobile {
    display: block;
  }
}

.scroll::-webkit-scrollbar {
  display: none !important;
}
